<div class="batch">
  <div class="batch__product" (click)="changeProduct()">
    <div class="batch__product__name">{{batch.product.name}}</div>
    <div class="batch__product__description" [innerHtml]="getProductDescription(batch.product.description)"></div>
    <div class="batch__product__net-weight">{{batch.product.netWeight}} kg</div>
    <div class="batch__product__unit-price">{{batch.product.unitPrice}} € <sup>TTC</sup>/kg</div>
  </div>
  <div class="batch__quantity-actions-remove">
    <button mat-mini-fab (click)="removeProducts(10)">-10</button>
    <button mat-mini-fab (click)="removeProducts(1)">-1</button>
  </div>
  <div class="batch__summary">
    <div class="batch__summary__product-number">{{batch.quantity}}</div>
    <div class="batch__summary__label">colis mis en vente</div>
    <div class="batch__summary__total-quantity">{{batch.quantity * batch.product.netWeight}} kg</div>
    <div class="batch__summary__total-price">{{batch.quantity * batch.product.netWeight * batch.product.unitPrice}} € <sup>TTC</sup></div>
  </div>
  <div class="batch__quantity-actions-add">
    <button mat-mini-fab (click)="addProducts(10)">+10</button>
    <button mat-mini-fab (click)="addProducts(1)">+1</button>
  </div>
</div>
