  <mat-card [class.mat-elevation-z10]='true'>
    <mat-card-header>Publions la vente pour l'abattage du {{slaughter.slaughterDate | date: 'shortDate'}}</mat-card-header>
    <mat-card-content>
      <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="deliveryDateForm">
          <form [formGroup]="deliveryDateForm">
            <ng-template matStepLabel>Fixez la date et l'heure de livraison</ng-template>
            <mat-form-field>
              <mat-label>Date de livraison</mat-label>
              <input matInput formControlName="deliveryDate" [matDatepicker]="deliveryDatePicker" placeholder="jj/mm/aaaa">
              <mat-datepicker-toggle matSuffix [for]="deliveryDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #deliveryDatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Début de la livraison</mat-label>
              <input type='time' step='900' matInput placeholder='hh:mm' formControlName="deliveryStartHour" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Fin de la livraison</mat-label>
              <input type='time' step='900' matInput placeholder='hh:mm' formControlName="deliveryEndHour" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Suivant</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="deliveryPlaceForm">
          <form [formGroup]="deliveryPlaceForm">
            <ng-template matStepLabel>Définissez un lieu de livraison</ng-template>
            <mat-form-field>
              <mat-label>Commune</mat-label>
              <input matInput placeholder="Nom de la commune" formControlName="city" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Nom du lieu de livraison</mat-label>
              <input matInput placeholder="Ex. : la Ferme des Pommiers" formControlName="addressName" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Numéro et rue</mat-label>
              <input matInput placeholder="Ex. : 5, rue des pommiers" formControlName="addressLine1" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Code postal</mat-label>
              <input matInput placeholder="Code postal" formControlName="zipCode" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Suivant</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="meatWeightForm">
          <form [formGroup]="meatWeightForm">
            <ng-template matStepLabel>Définissez la quantité de viande vendue</ng-template>
            <mat-form-field>
              <mat-label>Poids de viande</mat-label>
              <input matInput formControlName="meatWeight" placeholder="Poids de viande vendu en kg" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Suivant</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="productDescriptionForm">
          <form [formGroup]="productDescriptionForm">
            <ng-template matStepLabel>Description du produit</ng-template>
            <mat-form-field  class="textarea-mat-form-field">
              <mat-label>Nom du produit</mat-label>
              <textarea cdkTextareaAutosize matInput formControlName="name" placeholder="Nom du colis" required></textarea>
            </mat-form-field>
            <br>
            <mat-form-field  class="textarea-mat-form-field">
              <mat-label>Description du produit vendu</mat-label>
              <textarea cdkTextareaAutosize matInput formControlName="description" placeholder="Type de viande, composition des colis" required></textarea>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-label>Prix au kg</mat-label>
              <input matInput formControlName="price" placeholder="Prix au kg en euro TTC" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Suivant</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Vérifiez les informations</ng-template>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="publishSale()">Valider</button>
      <button mat-button (click)='cancel()'>Annuler</button>
      <div class='user-alert'>{{userAlert}}</div>
    </mat-card-actions>
  </mat-card>
