.main-menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--main-menu-height);
  background-color: darkolivegreen;
  color: whitesmoke;
}

.main-menu__text-content {
  font-family: 'Acme';
  font-size: var(--main-menu-font-size);
  padding-left: 1rem;
}

.main-menu__spacer{
  flex: 1 1 auto;
}
