.main-menu {
  background-color: darkolivegreen;
  color: whitesmoke;
  position: absolute;
  z-index: 1;
  top: 0;
}

.main-menu__text-content {
  font-family: 'Acme';
}

.main-menu__spacer{
  flex: 1 1 auto;
}
