<div class="main-menu">
  <div class="main-menu__side-menu-action" [hidden]="sideMenuDisabled" >
    <button (click)="showSideMenu()" mat-icon-button aria-label="menu pincipal">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span class="main-menu__text-content"><a href=".">Viande en Direct.eu</a></span>
  <span *ngIf="isNotProductionEnvironment()" class="main-menu__environment-type">{{environmentType}}</span>
  <span class="main-menu__spacer"></span>
  <div [hidden]="authentication">
    <button (click)="goToLoginPage()" mat-icon-button aria-label="login">
      <mat-icon>login</mat-icon>
    </button>
  </div>
  <div [hidden]="!authentication">
    <button (click)="logout()" mat-icon-button aria-label="login">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
