<div *ngIf="delivery" class="delivery-orders">
  <div class="delivery-orders__title">
    <div class=delivery-orders__title-text>Commandes pour la livraison du {{delivery.deliveryStart | date : 'shortDate'}} à {{delivery.deliveryAddress.city}}</div>
    <div>{{delivery.orders.length}} commande(s) client</div>
  </div>
  <table mat-table class="delivery-orders__table" [dataSource]="delivery.orders" >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>N°</th>
      <td mat-cell *matCellDef="let order"> {{order.id}} </td>
    </ng-container>
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Client</th>
      <td mat-cell *matCellDef="let order"> {{order.customer.name}} {{order.customer.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantité totale</th>
      <td mat-cell *matCellDef="let order"> {{ order.totalNetWeight }} kg </td>
    </ng-container>
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>Montant de la commande</th>
      <td mat-cell *matCellDef="let order"> {{ order.totalPrice }} € </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['id', 'customer', 'quantity', 'totalPrice']"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: ['id', 'customer', 'quantity', 'totalPrice']"></tr>
  </table>
  <button mat-button (click)="close()">Retour à l'accueil</button>
</div>
