.delivery-orders {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}

.delivery-orders__title {
  /* position: sticky; */
  top: 0;
  z-index: 3;
  background-color: darkolivegreen;
  color: white;
  font-family: "Acme";
  padding-left: 1rem;
}

.delivery-orders__title-text {
  font-size: var(--main-menu-font-size);
}

.delivery-orders__list-header,
.delivery-orders__list-body {
  display: grid;
  grid-template-columns: 1rem 1fr 1fr 1fr;
  width: 100%;
}

.delivery-orders__list-header {
  color: gray;
  font-size: small;
}

.delivery-orders__list-body__order-summary {
  font-size: 0.8rem;
}

.delivery-orders__list-body__order-details {
  grid-column: 2/5;
  font-size: small;
}

.delivery-orders__list-body__order-actions{
  grid-column: 2/5;
  justify-self: end;
  font-size: small;
}
