<div class="breeder-area">
  <div class='breeder-area__main-menu'>
    <app-main-menu [sideMenuDisabled]="false" [loginForced]='true' (sideMenuActivated)="showSideMenu($event)"></app-main-menu>
  </div>
  <div class='breeder-area__side-menu'>
    <app-side-menu #sideMenu (contentShown)="showContent($event)"></app-side-menu>
  </div>
  <div class='breeder-area__content-body'>
    <div id="slaughters-list">
      <app-slaughters-list
        [slaughters]="slaughters"
        (createSlaughterEvent)="handleSlaughterCreation($event)"
        (cancelSlaughterEvent)="handleSlaughterCancellation($event)"
        (createDeliveryEvent)="handleDeliveryCreation($event)">
      </app-slaughters-list>
    </div>
    <div id="deliveries-list">
      <div class="subtitle">Vos ventes en cours</div>
      <app-delivery *ngFor="let slaughter of getSlaughtersWithDelivery()" [slaughter]="slaughter"></app-delivery>
    </div>
  </div>
  <app-footer></app-footer>
</div>
