.breeder-area__main-menu {
  position: sticky;
  top: 0;
  z-index: 1;
}

.breeder-area__content-body {
  margin: 1rem;
}

.breeder-area__footer {
  font-size: 0.7rem;
  background-color: black;
  color: gray;
}

.breeder-area__footer > a {
  color: gray;
}
