<div *ngIf="product" class="product-form">
  <div class="product-form__title">Créons un nouveau colis type</div>

  <form [formGroup]="productForm">
    <div class="product-form__name">
      <mat-form-field>
        <mat-label>Nom du colis type</mat-label>
        <input type="text" matInput value="product.name" formControlName="name" required>
      </mat-form-field>
    </div>
    <div class="product-form__description">
      <mat-form-field>
        <mat-label>Description du colis</mat-label>
        <textarea cdkTextareaAutosize matInput formControlName="description" placeholder="description du contenu du colis" required></textarea>
      </mat-form-field>
    </div>
    <div class="product-form__unit-price">
      <mat-form-field>
        <mat-label>Prix de vente (€ <sup>TTC</sup>/kg)</mat-label>
        <input type="number" matInput formControlName="unitPrice" required>
      </mat-form-field>
    </div>
    <div class="product-form__net-weight">
      <mat-form-field>
        <mat-label>Quantité de viande dans le colis (kg)</mat-label>
        <input type="number" matInput formControlName="netWeight" required>
      </mat-form-field>
    </div>
    <div class="product-form__photo">
      <img *ngIf="product.photo && product.photo.content" [src]="this.product.photo.content">
      <br>
      <button type="button" mat-button (click)="fileInput.click()">{{this.photoUrl ? 'Modifiez la photo' : 'Ajoutez une photo'}}</button>
      <input type="file" hidden (change)="uploadPhoto()" #fileInput id="file" accept="image/png, image/jpeg">
    </div>
    <div class="product-form__shaping-selector" #shapingSelector>
    </div>

  </form>

  <button mat-button (click)="save()">Enregistrer</button>
  <button mat-button (click)="cancel()">Abandonner</button>
</div>

