.product-form {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}

.product-form__title {
  font-family: 'Acme';
  font-size: var(--main-menu-font-size);
  background-color: darkolivegreen;
  color: white;
 }

.product-form__photo > img {
  max-height: 15rem;
  max-width: 100%
}

.product-form__name > *,
.product-form__description > * ,
.product-form__unit-price,
.product-form__net-weight > * {
  display: inline-block;
  margin: 2rem;
  width: 90%;
}

.product-form__shaping-selector {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  margin: 2rem;
}

.pieceCategory {

}

.shaping {
  cursor: pointer;
  background-color: #e9e9ed;
  border-radius: 3px;
}

.shaping--selected {
  border-color: black;
  border-style: solid;
}

.shaping:hover {
  background-color: #9f9fac;
}

