<div>
email : <input type="text" [formControl]="emailControl">
<br/>
mot de passe : <input type="text" [formControl]="passwordControl">
<br/>
<button (click)="login()">C'est parti !</button>
<button (click)="test()">Test</button>
</div>

<!--
<div>
  <!--TODO : faire un formulaire de login
  https://angular.io/guide/forms-overview
  Puis reprendre l'authent jwt :
  https://blog.angular-university.io/angular-jwt-authentication/
  --!>
  <form>
    <h1>Login form</h1>
        <div class="form-field">
            <label>Email:</label>
            <input name="email" formControlName="email">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password"
                  type="password">
        </div>
    <div class="form-buttons">
        <button class="button button-primary"
                (click)="login()">Login</button>
    </div>
  </form>
</div>
-->
