html,body{
  width:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
  font-family: Lato-regular;
}

a {
  color:inherit;
  text-decoration: none;
 }

.field-description {
  font-family: Lato-regular;
}

@media (max-width:600px) {
  html{
    font-size: 20px;
  }
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.subtitle {
  font-family: Acme;
}

.user-alert {
  color: darkred;
}

.textarea-mat-form-field {
  width: 100%;
}

/*
 * CONSTANTS
 */

 :root {
   --main-menu-height: 3rem;
   --main-menu-font-size: x-large;
 }

/*
 * FONTS
 */

/* https://fonts.google.com/specimen/Acme */
@font-face {
  font-family: "Acme";
  src: url("assets/fonts/acme/Acme-Regular.ttf");
}

/* https://fonts.google.com/specimen/Lato */
@font-face {
  font-family: "Lato-Regular";
  src: url("assets/fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Italic";
  src: url("assets/fonts/lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("assets/fonts/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-BoldItalic";
  src: url("assets/fonts/lato/Lato-BoldItalic.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("assets/fonts/lato/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-LightItalic";
  src: url("assets/fonts/lato/Lato-LightItalic.ttf");
}

@font-face {
  font-family: "Lato-Thin";
  src: url("assets/fonts/lato/Lato-Thin.ttf");
}

@font-face {
  font-family: "Lato-ThinItalic";
  src: url("assets/fonts/lato/Lato-ThinItalic.ttf");
}

@font-face {
  font-family: "Lato-Black";
  src: url("assets/fonts/lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-BlackItalic";
  src: url("assets/fonts/lato/Lato-BlackItalic.ttf");
}


/*
 * ICONS
 */

.icon {
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
}

.placeholder-icon {
  background: url(assets/images/icons/svg/placeholder.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.time-icon {
  background: url(assets/images/icons/svg/time.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.calendar-icon {
  background: url(assets/images/icons/svg/calendar.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.cow-icon {
  background: url(assets/images/icons/svg/cow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.euro-icon {
  background: url(assets/images/icons/svg/euro.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.steak-icon {
  background: url(assets/images/icons/svg/steak.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.farm-icon {
  background: url(assets/images/icons/svg/farm.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.weight-icon {
  background: url(assets/images/icons/svg/weight.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.label-icon {
  background: url(assets/images/icons/svg/label.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
