<div *ngIf="slaughter.delivery">
  <mat-card class="delivery">
    <mat-card-header>
      <mat-card-title>Vente du {{slaughter.delivery.deliveryStart | date : 'shortDate' }} à {{slaughter.delivery.deliveryAddress.city}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="delivery--details">
        <div class="delivery--details--orders">
          <div>
            {{slaughter.delivery.orders.length}} commandes clients
          </div>
          <div>
            <button mat-button (click)="showDeliveryOrders()">Commandes</button>
            <button mat-button (click)="generateBills()">Factures</button>
            <button mat-button (click)="generateOrdersLabels()">Etiquettes des commandes</button>
            <button mat-button (click)="generateProductElementsLabels()">Etiquette des paquets</button>
          </div>
        </div>
        <div class="delivery--details--quantities">
          <div *ngIf="netWeightSold > 0">
            {{netWeightSold / slaughter.animal.meatWeight | percent}} de viande vendue
          </div>
          <app-piechart dirWithStyleBinding></app-piechart>
          <div *ngIf="netWeightSold > 0">
            {{netWeightSold}} kg vendus
          </div>
          <div>
            {{slaughter.animal.meatWeight}} kg de viande sur l'animal
          </div>
          <div>
            ({{slaughter.animal.liveWeight}} kg vif estimé)
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <app-delivery-orders></app-delivery-orders>
</div>
