.delivery {
  margin: 5px;
  background-color: floralwhite;
  border-style: solid;
  border-width: 2px;
  border-color: darkolivegreen
}

.delivery--details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delivery--details--orders,
.delivery--details--quantities {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

table {
  width: 100%;
}

