<div *ngIf="slaughter" class="slaughter-creation-form">
  <div class="slaughter-creation-form__title">Créons un nouvel abtagge</div>
  <form [formGroup]="slaughterForm" (ngSubmit)="save()">
    <div class="slaughter-creation-form__slaughter-date">
      <mat-form-field>
        <input matInput formControlName="slaughterDate" [matDatepicker]="slaughterDatePicker" placeholder="Date d'abattage">
        <mat-datepicker-toggle matSuffix [for]="slaughterDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #slaughterDatePicker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="slaughter-creation-form__cutting-date">
      <mat-form-field>
        <input matInput formControlName="cuttingDate" [matDatepicker]="cuttingDatePicker" placeholder="Date découpe">
        <mat-datepicker-toggle matSuffix [for]="cuttingDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #cuttingDatePicker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="slaughter-creation-form__live-weight">
      <mat-form-field>
        <input matInput formControlName="liveWeight" placeholder="Poids vif estimé">
        <mat-slider min="0" max="1000" step="50" tickInterval="10" thumbLabel #liveWeightSlider (change)="setLiveWeight($event)"></mat-slider>
      </mat-form-field>
    </div>
    <button mat-button type="submit">Enregistrer</button>
    <button mat-button (click)="cancel()">Annuler</button>
  </form>
</div>
