<div class="subtitle">
  <div>Vos prochains abattages</div>
  <button
    mat-flat-button
    class='subtitle-action'
    (click)='showSlaughterCreation()'>
    Créer
  </button>
  <mat-card *ngFor="let slaughter of slaughters" class="slaughter-card">
    <mat-card-header>
      <mat-card-title>Abattage du {{slaughter.slaughterDate | date: 'longDate'}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="slaughter-card-content">
        <div class="slaughter-card-content--description">
          {{getAnimalDescription(slaughter.animal)}}
          <br *ngIf="getAnimalDescription(slaughter.animal)">
          Date de l'abattage : {{slaughter.slaughterDate | date}}
          <br>
          Date de la découpe : {{slaughter.cuttingDate | date}}
          <br>
          Poids vif estimé : {{slaughter.animal.liveWeight}} kg
        </div>
        <div class="slaughter-card-content--identification-number">
          {{slaughter.animal.identificationNumber ? slaughter.animal.identificationNumber.slice(-4) : "????"}}
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf='!slaughter.delivery' (click)="showDeliveryCreation(slaughter)">Publier la vente</button>
      <button mat-button *ngIf='!slaughter.delivery' (click)="cancelSlaughter(slaughter)">Abandonner l'abattage</button>
    </mat-card-actions>
  </mat-card>
</div>
<app-delivery-creation></app-delivery-creation>
<app-slaughter-creation></app-slaughter-creation>

