<div class='password-renewal-form'>
  <div class='password-renewal-title'>Viande direct</div>
  <div class='password-renewal-subtitle'>renouvellement de votre mot de passe</div>

  <mat-card *ngIf="authenticationSuccess">
    <mat-card-content>
      <div *ngIf="!passwordChangeSuccessful && !passwordChangeFailed">Bienvenue</div>
      <form *ngIf="!passwordChangeSuccessful && !passwordChangeFailed" [formGroup]="renewPasswordForm" (ngSubmit)="saveNewPassword(renewPasswordForm.value)">
        <mat-form-field>
          <input type="password" formControlName="newPassword" matInput placeholder="Votre nouveau mot de passe">
        </mat-form-field>
        <mat-form-field>
          <input type="password" formControlName="newPasswordConfirmed" matInput placeholder="Confirmation de votre nouveau mot de passe">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="!renewPasswordForm.valid">Changer mon mot de passe</button>
      </form>
      <div class='password-renewal-message' *ngIf="passwordChangeSuccessful">
        <div>Votre mot de passe a été mis à jour.</div>
      </div>
      <div class='password-renewal-message' *ngIf="passwordChangeFailed">
        <div>Oups ! Une erreur est survenue lors de la modification de votre mot de passe</div>
        <div>Merci de réessayer un peu plus tard</div>
      </div>
      <button mat-raised-button color="link" (click)="accessSite()">Accéder directement au site</button>
    </mat-card-content>
  </mat-card>

  <div class='password-renewal-not-authenticated' *ngIf="!authenticationSuccess">
    <div>Désolé...</div>
    <div>Le lien utilisé pour renouveler votre mot de passe est invalide.</div>
  </div>

</div>
