.password-renewal-title{
  font-family: Acme;
  font-size: larger;
  display: block;
  text-align: center;
  background-color: darkolivegreen;
  color: whitesmoke;
}

.password-renewal-subtitle{
  font-family: Acme;
  font-size: large;
  display: block;
  text-align: center;
  background-color: darkolivegreen;
  color: whitesmoke;
}

mat-card{
  width: 30%;
  height: 50%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form{
  width: 100%;
}

mat-form-field{
  display: block;
  margin: 0 auto;
}

button{
  width: 100%;
  margin: 10px 0px;
}

span {
  display: block;
  margin: 10px 0px;
  padding: 5px 0px;
  width: 100%;
  color: #2c3e50;
  font-weight: bold;
  cursor: pointer;
}

span:hover{
  color: #3498db;
}

.password-renewal-message {
  font-family: Acme;
}

.password-renewal-not-authenticated {
  position: absolute;
  top:20%;
  text-align: center;
  margin: 10%;
  font-family: Acme;
}

.password-renewal-error-message > div {
  margin: 1rem;
}

@media screen and (max-width: 800px){
  mat-card{
    width: 70%;
  }
}
