<mat-card class="product-card">
  <mat-card-content class="product-card__product-description">
    <div>
      {{product.price}} €
    </div>
    <div>
      <img [src]="image">
    </div>
    <div >
      <span [innerHTML]="product.description"></span>
    </div>
    <div>
      Eleveur : {{product.animal.finalFarm.name}}
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="order">
    <button mat-mini-fab color="accent">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab >
      <mat-icon>remove</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
