<div class="subtitle">
  <div>Vos colis types</div>
  <button type="button" mat-button (click)="showProductTemplateCreation()">
    Créer
  </button>
</div>
<div>
  <table mat-table [dataSource]="productTemplates" class="product-templates-list">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let productTemplate"> {{productTemplate.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let productTemplate" [innerHtml]="getProductDescription(productTemplate.description)"></td>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef>Prix suggéré</th>
      <td mat-cell *matCellDef="let productTemplate"> {{productTemplate.unitPrice}} €TTC </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name', 'description', 'unitPrice']"></tr>
    <tr class="clickable-row" mat-row *matRowDef="let myRowData; columns: ['name', 'description', 'unitPrice']" (click)="showProductTemplate(myRowData)" ></tr>
  </table>
</div>

<app-product (saveProductEvent)=refreshProductTemplatesList()></app-product>
