<div class="subtitle">
  <div>Les prochaines livraisons de viande locale</div>
  <mat-card *ngFor="let delivery of deliveries" class="delivery-card">
    <mat-card-header>
      <mat-card-title>
        <span>
          Livraison du {{delivery.deliveryStart | date: 'shortDate'}}
        </span>
        <span *ngIf="delivery.deliveryAddress">
          - {{delivery.deliveryAddress.city}} - {{delivery.deliveryAddress.name}}
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          Livré entre {{delivery.deliveryStart | date: 'shortTime'}}
          et {{delivery.deliveryEnd | date: 'shortTime'}}
        </li>
        <li>
          Adresse de livraison :<br>
          {{delivery.deliveryAddress.name}}<br>
          {{delivery.deliveryAddress.addressLine1}}<br>
          {{delivery.deliveryAddress.zipCode}}<br>
          {{delivery.deliveryAddress.city}}
        </li>
        <li>
          <span *ngFor="let product of delivery.availableProducts">
            {{ product.price }} €/kg<br>
            <span [innerHTML]="product.description"></span><br>
            Eleveur : {{product.animal.finalFarm.name}}
          </span>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color='primary' (click)="openOrderDialog(delivery)">Je commande</button>
    </mat-card-actions>
  </mat-card>
</div>
