<div class="subtitle">
  <div>Les prochaines livraisons de viande locale</div>
  <mat-card *ngFor="let delivery of deliveries" class="delivery-card">
    <mat-card-header>
      <mat-card-title>
        <span>
          Livraison du {{delivery.deliveryStart | date: 'shortDate'}}
        </span>
        <span *ngIf="delivery.deliveryAddress">
          - {{delivery.deliveryAddress.city}} - {{delivery.deliveryAddress.name}}
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <i class="icon time-icon"></i>
        <span>
          Livré entre {{delivery.deliveryStart | date: 'shortTime'}}
          et {{delivery.deliveryEnd | date: 'shortTime'}}
        </span>
      </div>
      <div>
        <i class="icon placeholder-icon"></i>
        <span>
          Adresse de livraison :<br>
          {{delivery.deliveryAddress.name}}<br>
          {{delivery.deliveryAddress.addressLine1}}<br>
          {{delivery.deliveryAddress.zipCode}}<br>
          {{delivery.deliveryAddress.city}}
        </span>
      </div>
      <div>
        <i class="icon euro-icon"></i>
        <span>
          {{ getUniqueProduct(delivery).price }} €/kg
        </span>
      </div>
      <div>
        <i class="icon steak-icon"></i>
        <span [innerHTML]="getUniqueProduct(delivery).description"></span>
      </div>
      <div>
        <i class="icon farm-icon"></i>
        <span>
          Eleveur : {{getUniqueProduct(delivery).animal.finalFarm.name}}
        </span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color='primary' (click)="showOrderComponent(delivery)">Je commande</button>
    </mat-card-actions>
  </mat-card>
</div>

<app-order-dialog></app-order-dialog>
