<div class="customer-area__main-menu">
  <app-main-menu [loginForced]='false'></app-main-menu>
</div>
<div class="customer-area__content-body">
  <div class="main-title">
    <div class="main-title__left"></div>
    <div class="main-title__center">
      Viande en Direct
    </div>
    <div class="main-title__right"></div>
  </div>
  <div *ngIf="authentication" class="welcome">
    Heureux de vous revoir {{authentication.account.actor.firstName}} !
  </div>

  <div *ngIf="authentication" class="subtitle">
    <div>{{ orderListTitle }}</div>
    <app-order *ngFor="let order of orders" [order]="order"></app-order>
  </div>

  <div class="subtitle">
    <div>{{ deliveryListTitle }}</div>
    <app-delivery *ngFor="let delivery of deliveries" [delivery]="delivery" (createOrderEvent)="openOrderDialog($event)"></app-delivery>
  </div>

  <app-order-dialog (createOrderEvent)="refreshCustomerArea()"></app-order-dialog>

  <app-footer></app-footer>

</div>
