<div class="customer-area__main-menu">
  <app-main-menu [loginForced]='false'></app-main-menu>
</div>
<div class="customer-area__content-body">
  <div class="main-title">
    <div class="main-title__left"></div>
    <div class="main-title__center">
      Viande Direct
    </div>
    <div class="main-title__right"></div>
  </div>
  <div *ngIf="authentication" class="welcome">
    Heureux de vous revoir {{authentication.account.actor.firstName}} !
  </div>
  <app-order-list *ngIf="authentication"></app-order-list>

  <div class="subtitle">
    <div>Les prochaines livraisons de viande locale</div>
    <app-delivery *ngFor="let delivery of deliveries" [delivery]="delivery" (createOrderEvent)="openOrderDialog($event)"></app-delivery>
  </div>

  <app-order-dialog (createOrderEvent)="refreshOrderList()"></app-order-dialog>

</div>

<div class="customer-area__footer">Icons made by <a href="https://www.flaticon.local/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.local/" title="Flaticon">www.flaticon.local</a></div>
