.side-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.side-menu__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
  background-color: darkolivegreen;
  color: whitesmoke;
  font-family: Acme;
  font-size: var(--main-menu-font-size);
  height: var(--main-menu-height);
}

.side-menu__title > div {
  padding-right: 1rem;
}

.side-menu__link {
  width: 100%;
  cursor: pointer;
  padding: 0.5rem;
  font-family: Acme;
  font-weight: lighter;
}
