<mat-sidenav-container class="side-menu">
  <mat-sidenav mode="side" opened="false">
    <div class="side-menu__title">
      <button (click)="hideSideMenu()" mat-icon-button aria-label="menu pincipal">
        <mat-icon>close</mat-icon>
      </button>
      <div>Viande Direct</div>
    </div>
    <div class='side-menu__link' (click)="showSlaughtersList()">Vos abattages</div>
    <div class='side-menu__link' (click)="showSalesList()">Vos livraisons</div>
    <div class='side-menu__link' (click)="showProductsList()">Vos colis type</div>
  </mat-sidenav>
</mat-sidenav-container>
