<mat-sidenav-container class="side-menu">
  <mat-sidenav mode="side" opened="false">
    <div class="side-menu__title">
      <mat-icon (click)="hideSideMenu()">close</mat-icon>
      Viande Direct
    </div>
    <div class='side-menu__link' (click)="showSlaughtersList()">Mes abattages</div>
    <div class='side-menu__link' (click)="showSalesList()">Mes livraisons</div>
    <div class='side-menu__link' (click)="showDeliveriesList()">Mes colis type</div>
  </mat-sidenav>
</mat-sidenav-container>
