.side-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.side-menu__title {
  white-space: nowrap;
  background-color: darkolivegreen;
  color: whitesmoke;
  font-family: Acme;
}

@media (min-width: 600px){
  .side-menu__title {
    padding: 1.1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 699px){
  .side-menu__title {
    padding: 0.65rem;
  }
}

.side-menu__link {
  width: 100%;
  cursor: pointer;
  padding: 0.5rem;
  font-family: Acme;
  font-weight: lighter;
}

/*
.side-menu {
  height: 100%;
  width: 200px;
  background-color: white;
  box-shadow: 0 0 1em black;
  z-index: 10;
  display: block;
  position: fixed;
  font-family: Acme;
  z-index: 100;
}

.side-menu div:first-child {
  display: block;
}

.side-menu div:first-child span {
  position: absolute;
  top: 0px;
  right: 0px;
  color: black;
  background-color: lightgray;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-family: Acme;
  text-align: center;
  cursor: pointer;
}


.side-menu-link {
  width: 100%;
  cursor: pointer;
}

*/
