<div *ngIf="order" class="order-component">
  <div class="order__title">
    <div class="order__title-text">Votre commande de viande</div>
    <div class="order__subtitle">
      <div>Livraison du {{order.delivery.deliveryStart | date: 'shortDate'}}</div>
      <div>{{order.delivery.deliveryAddress.name}}</div>
    </div>
  </div>

  <div>
    <mat-vertical-stepper #stepper linear="true">
      <mat-step [stepControl]="productSelectionForm" [editable]="!orderStored && !orderUnderProcess">
        <form [formGroup]="productSelectionForm">
          <ng-template matStepLabel>{{productSelectionStepLabel}}</ng-template>
          <div class="order__batches">
            <app-order-item *ngFor="let orderItem of order.orderedItems" [orderItem]="orderItem" (changeOrderItem)="updateOrderItems()"></app-order-item>
          </div>
          <div>
            <button
              [disabled]="!isOrderEmpty()"
              mat-flat-button
              matStepperNext
              color="accent">{{ productSelectionButtonLabel }}</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="authenticationForm" [completed]="authentication" [editable]="!orderStored && !orderUnderProcess">
        <form [formGroup]="authenticationForm">
          <ng-template matStepLabel>{{authenticationStepLabel}}</ng-template>
          <div *ngIf="!authentication">
            <mat-radio-group (change)="changeAuthentificationType($event)">
              <mat-radio-button value="true" checked="true">J'ai déjà un compte</mat-radio-button>
              <mat-radio-button value="false">Je n'ai pas de compte</mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="authentication">
            <button mat-flat-button matStepperNext color="accent">Poursuivre avec ce compte</button>
            <button mat-flat-button (click)="logout()">Se déconnecter et changer de compte</button>
          </div>

          <div *ngIf="!authentication && existingAccount">
            <div>
              <mat-form-field>
                <mat-label>Adresse mail</mat-label>
                <input type="email" matInput formControlName="existingEmail" required>
              </mat-form-field>
              <span *ngIf="isErrorMessageDisplayed('existingEmail', 'email', true)">
                L'email est erroné.
              </span>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input type="password" matInput formControlName="existingPassword" required>
              </mat-form-field>
            </div>
            <div>
              <button
                [disabled]="!areFormFieldsValid(authenticationForm, ['existingEmail', 'existingPassword'])"
                mat-flat-button color="accent"
                (click)="login(authenticationForm.value.existingEmail, authenticationForm.value.existingPassword)">
                Se connecter
              </button>
              <div *ngIf="authenticationFailureMessage">
                {{authenticationFailureMessage}}
              </div>
            </div>
          </div>

          <div *ngIf="!authentication && !existingAccount">
            <div>
              <mat-form-field>
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="creatingFirstName" required>
              </mat-form-field>
              <span *ngIf="isErrorMessageDisplayed('creatingFirstName', 'required')">
                Le prénom est obligatoire.
              </span>
            </div>
            <div>
            <mat-form-field>
              <mat-label>Nom</mat-label>
              <input matInput formControlName="creatingName" required>
            </mat-form-field>
            <span *ngIf="isErrorMessageDisplayed('creatingName', 'required')">
              Le nom est obligatoire.
            </span>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Adresse mail</mat-label>
                <input type="email" matInput formControlName="creatingEmail" required>
              </mat-form-field>
              <span *ngIf="isErrorMessageDisplayed('creatingEmail', 'required')">
                L'email est obligatoire.
              </span>
              <span *ngIf="isErrorMessageDisplayed('creatingEmail', 'email', true)">
                L'email est erroné.
              </span>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Téléphone mobile</mat-label>
                <input type="tel" matInput formControlName="creatingPhone" required>
              </mat-form-field>
              <span *ngIf="isErrorMessageDisplayed('creatingPhone', 'required')">
                Le téléphone est obligatoire.
              </span>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input type="password" matInput formControlName="creatingPassword" required minlength="6">
              </mat-form-field>
              <span *ngIf="isErrorMessageDisplayed('creatingPassword', 'required')">
                Le mot de passe est obligatoire.
              </span>
              <span *ngIf="isErrorMessageDisplayed('creatingPassword', 'minlength', true)">
                Le mot de passe doit avoir au moins 6 caractères.
              </span>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Confirmez le mot de passe</mat-label>
                <input type="password" matInput formControlName="creatingPasswordConfirmed" required>
              </mat-form-field>
              <span *ngIf="isErrorMessageDisplayed('creatingPassword', 'required')">
                La confirmation du mot de passe est obligatoire.
              </span>
              <span *ngIf="authenticationForm.errors?.passwordConfirmationFailed && authenticationForm.get('creatingPasswordConfirmed').touched">
                La confirmation du mot de passe est différente du mot de passe.
              </span>
            </div>
            <div class="order__account-creation-button">
              <div>
                <button
                  mat-flat-button
                  matStepperNext
                  color="accent"
                  (click)="createCustomerAccount()"
                  [disabled]="!areFormFieldsValid(authenticationForm, ['creatingFirstName', 'creatingName', 'creatingEmail', 'creatingPhone', 'creatingPassword', 'creatingPasswordConfirmed']) || accountCreationUnderProcess">
                    Créer un compte
                </button>
              </div>
              <div>
                <mat-spinner diameter="25" *ngIf="accountCreationUnderProcess"></mat-spinner>
              </div>
              <div *ngIf="accountCreationFailureMessage">
                {{accountCreationFailureMessage}}
              </div>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="confirmationForm" [editable]="!orderStored && !orderUnderProcess" [completed]="understood">
        <form [formGroup]="confirmationForm">
          <ng-template matStepLabel>{{confirmationStepLabel}}</ng-template>
          <div>
            <div>
              En validant ma commande je m'engage à :
              <ol>
                <li>procéder au paiement de ma commande à la livraison</li>
                <li>venir chercher la marchandise au rendez-vous fixé  :
                  <ul>
                    <li>le {{order.delivery.deliveryStart | date: 'shortDate'}} entre {{order.delivery.deliveryStart | date: 'shortTime'}} et {{order.delivery.deliveryEnd | date: 'shortTime'}}</li>
                    <li>à l'adresse suivante :  <br>
                      <div *ngIf="order.delivery.deliveryAddress.addressLine1">{{order.delivery.deliveryAddress.addressLine1}}</div>
                      <div *ngIf="order.delivery.deliveryAddress.addressLine2">{{order.delivery.deliveryAddress.addressLine2}}</div>
                      <div *ngIf="order.delivery.deliveryAddress.addressLine3">{{order.delivery.deliveryAddress.addressLine3}}</div>
                      <div *ngIf="order.delivery.deliveryAddress.addressLine4">{{order.delivery.deliveryAddress.addressLine4}}</div>
                      <div *ngIf="order.delivery.deliveryAddress.zipCode">{{order.delivery.deliveryAddress.zipCode}}</div>
                      <div *ngIf="order.delivery.deliveryAddress.city">{{order.delivery.deliveryAddress.city}}</div>
                    </li>
                  </ul>
                </li>
                <li>respecter la chaîne du froid dès la réception de la marchandise</li>
              </ol>
            </div>
            <mat-checkbox [disabled]="orderStored || orderUnderProcess" [checked]="understood" (change)="setUnderstood($event.checked)">J'ai compris</mat-checkbox>
          </div>
          <div class="order__confirmation-button">
            <input matInput formControlName="confirmed" hidden="true">
            <button
              mat-flat-button
              matStepperNext
              color="accent"
              [disabled]="!understood || orderStored || orderUnderProcess"
              (click)="confirmOrder()">
                {{confirmationButtonLabel}}
            </button>
            <div>
              <mat-spinner diameter="25" *ngIf="orderUnderProcess"></mat-spinner>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="paymentForm" [editable]="true">
        <form [formGroup]="paymentForm">
          <ng-template matStepLabel>{{paymentStepLabel}}</ng-template>
          <div>
            <button
              mat-flat-button
              color="accent"
              (click)="payOrder()"
              [disabled]="!orderStored || paymentUnderProcess">
              {{paymentButtonLabel}}
            </button>
          </div>
          <div>
            <mat-spinner diameter="25" *ngIf="paymentUnderProcess"></mat-spinner>
          </div>
        </form>
      </mat-step>

    </mat-vertical-stepper>
  </div>

  <div>
    <button mat-flat-button color="accent" *ngIf="orderPayed" (click)="close()">Revenir à l'accueil</button>
    <button mat-flat-button *ngIf="!orderStored && !orderPayed" (click)="close()">Annuler la commande</button>
  </div>
</div>
