<mat-card class="delivery-card">
  <mat-card-header>
    <mat-card-title class="delivery-card__title">
      <span>
        Livraison du {{delivery.deliveryStart | date: 'shortDate'}}
      </span>
      <span>
        - {{delivery.name}}
      </span>
      <div class="delivery-card__quantity-sold">
        <div>
          <app-piechart dirWithStyleBinding></app-piechart>
          <div>
            <div>{{quantitySold | percent}}</div>
            <div>déjà</div>
            <div>vendu</div>
          </div>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="delivery-card__general-information">
      <div class="delivery-card__delivery-information">
        <div class="delivery-card__address">
          <i class="icon placeholder-icon"></i>
          <span [innerHtml]="getAddress()"></span>
        </div>
        <div class="delivery-card__date">
          <i class="icon time-icon"></i>
          <span>
            Livré entre {{delivery.deliveryStart | date: 'shortTime'}}
            et {{delivery.deliveryEnd | date: 'shortTime'}}
          </span>
        </div>
      </div>
      <div class="delivery-card__animal-information">
        <div *ngIf="isCertifiedLabelRouge()" class="delivery-card__certification-logo">
          <i class="icon certified-label-rouge-icon"></i>
        </div>
        <div *ngIf="getAnimalLabel()" class="delivery-card__animal">
          <i class="icon cow-icon"></i>
          <span>
            {{getAnimalLabel()}}
          </span>
        </div>
        <div *ngIf="animal?.identificationNumber" class="delivery-card__animal-id">
          <i class="icon label-icon"></i>
          <span>
            {{animal.identificationNumber}}
          </span>
        </div>
        <div *ngIf="animal?.finalFarm" class="delivery-card__farm">
          <i class="icon farm-icon"></i>
          <span>
            {{animal.finalFarm.name}}
          </span>
        </div>
      </div>
    </div>
    <div class="delivery-card__product-batch-list">
      <app-product *ngFor="let batch of getBatches()" [product]="batch.product">
      </app-product>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color='primary' (click)="showOrderComponent(delivery)">Je commande</button>
    <button *ngIf="animal?.finalFarm?.slideshowUrl" mat-flat-button (click)="showFarmSlideshow()">Je visite la ferme</button>
  </mat-card-actions>
</mat-card>
