.delivery-card {
  margin: 0.5rem;
  background-color: floralwhite;
  border-style: solid;
  border-width: 2px;
  border-color: darkolivegreen;
}

.delivery-card__title {
  font-family: acme;
  font-size: 1.8rem;
}

.delivery-card__general-information {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.delivery-card__product-batch-list {
  display: flex;
  flex-flow: wrap;
  justify-content: left;
}

.delivery-card__address,
.delivery-card__date,
.delivery-card__animal,
.delivery-card__animal-id,
.delivery-card__farm,
.delivery-card__quantity-sold,
.delivery-card__certification-logo {
  display: grid;
  grid-template-columns: 2rem 1fr;
  padding: 0.3rem;
}

.delivery-card__quantity-sold {
  position: absolute;
  font-size: 1.2rem;
}

.delivery-card__quantity-sold > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.delivery-card__quantity-sold > div > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery-card__quantity-sold > div > div > div:nth-child(n+2) {
  font-size: small;
}

.certified-label-rouge-icon {
  width: 4rem;
  height: 4rem;
}

@media (min-width:600px) {
  .delivery-card__quantity-sold app-piechart {
    width: 5rem;
    height: 5rem;
  }

  .delivery-card__quantity-sold {
    top: 0.5rem;
    right: 2rem;
  }

  .delivery-card__general-information {
    padding-right: 5rem;
  }
}

@media (max-width:600px) {
  .delivery-card__quantity-sold app-piechart {
    width: 3rem;
    height: 3rem;
  }

  .delivery-card__quantity-sold {
    top: 0.5rem;
    right: 1rem;
    font-size: 0.8rem;
  }

  .delivery-card__title {
    padding-right: 3rem;
    font-size: 1rem;
  }
}
