<mat-card class="order-card">
  <mat-card-header>
    <mat-card-title>
      <span>
        Votre commande pour la livraison du {{order.delivery.deliveryStart | date: 'shortDate'}} - à {{order.delivery.name}}
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>
      Montant de la commande : {{ getOrderTotalPrice() }} € <sup>TTC</sup>
      </li>
      <li>
      Numéro de commande : {{order.id}}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button (click)="goToOrderDetails()">Voir le détail</button>
  </mat-card-actions>
</mat-card>
