.order__title {
  top: 0;
  z-index: 3;
  background-color: darkolivegreen;
  color: white;
  font-family: "Acme";
  padding-left: 1rem;
}

.order__title-text {
  font-size: var(--main-menu-font-size);
}

.order__subtitle > div {
  padding-right: 0.6rem;
}

.order__paragraph {
  padding: 0.4rem;
}

.order__subtitle {
  font-family: "Acme";
  display: flex;
  flex-wrap: wrap;
}

.order__status_cancelled {
  color: darkred;
}

.order__status_booked {
  color: orangered;
}

.order__status_validated {
  color: olivedrab;
}
